Energy Prediction flow.json
[{"id":"e6b13807.c5b4c8","type":"tab","label":"autoai","disabled":false,"info":""},{"id":"500fdc36.6a1044","type":"http request","z":"e6b13807.c5b4c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":100,"wires":[["e9cfb940.4cb9e8","89ba49a1.1a0808","4ee4ece6.10f624"]]},{"id":"e9cfb940.4cb9e8","type":"function","z":"e6b13807.c5b4c8","name":"Pre Prediction","func":"var d = global.get('d')\nvar ws = global.get('ws')\nvar wd = global.get('wd')\nvar t = global.get('t')\nvar token=msg.payload.access_token\nvar instance_id=\"37f94100-9725-4e12-bfb0-b271976c93b2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time\",\"Wind_Speed_(m/s)\",\"Theoretical_Power_Curve (KWh)\", \"Wind_Direction_(째)\"], \"values\": [[d,ws,t,wd]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["65e1b1b8.dd2e7"]]},{"id":"65e1b1b8.dd2e7","type":"http request","z":"e6b13807.c5b4c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8a833221-ca27-4684-a9a5-dcfaba8ff9d6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["736318ba.db8c58","86bdf8a4.8bebb8"]]},{"id":"4ba5c98f.cb6928","type":"ui_text","z":"e6b13807.c5b4c8","group":"5309ec16.c65ca4","order":2,"width":0,"height":0,"name":"","label":"Day 1","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":40,"wires":[]},{"id":"736318ba.db8c58","type":"function","z":"e6b13807.c5b4c8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["4ba5c98f.cb6928","248831ab.37e37e"]]},{"id":"289d4c21.8e6584","type":"ui_form","z":"e6b13807.c5b4c8","name":"","label":"","group":"5309ec16.c65ca4","order":1,"width":0,"height":0,"options":[{"label":"Date/Time","value":"d","type":"text","required":true,"rows":null},{"label":"Wind_Speed_(m/s)","value":"ws","type":"number","required":true,"rows":null},{"label":"Theoretical_Power_Curve (KWh)","value":"t","type":"number","required":true,"rows":null},{"label":"Wind_Direction_(째)","value":"wd","type":"number","required":true,"rows":null}],"formValue":{"d":"","ws":"","t":"","wd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["b98f7dc5.2879d"]]},{"id":"b98f7dc5.2879d","type":"function","z":"e6b13807.c5b4c8","name":"","func":"global.set(\"d\",msg.payload.d)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"wd\",msg.payload.wd)\nvar apikey=\"Wxvyk-6osfdLha9Uj8EAbsUzSKkeYCTMvKB5n0CPaNVh\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["500fdc36.6a1044"]]},{"id":"86bdf8a4.8bebb8","type":"debug","z":"e6b13807.c5b4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"248831ab.37e37e","type":"ui_gauge","z":"e6b13807.c5b4c8","name":"","group":"5309ec16.c65ca4","order":5,"width":0,"height":0,"gtype":"gage","title":"Day 1","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":120,"wires":[]},{"id":"89ba49a1.1a0808","type":"function","z":"e6b13807.c5b4c8","name":"Pre Prediction","func":"var d = global.get('d')\nvar d1=d.split(\" \")\nvar d2 = Number(d1[0])+1;\n//var d3 = Number(d1[0])+2;\nvar d3=d2.toString()+d.substring(2,16)\nvar ws = global.get('ws')\nvar wd = global.get('wd')\nvar t = global.get('t')\nvar token=msg.payload.access_token\nvar instance_id=\"37f94100-9725-4e12-bfb0-b271976c93b2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time\",\"Wind_Speed_(m/s)\",\"Theoretical_Power_Curve (KWh)\", \"Wind_Direction_(째)\"], \"values\": [[d3,ws-1,t-100,wd-10]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["fc3dd701.2364b8"]]},{"id":"fc3dd701.2364b8","type":"http request","z":"e6b13807.c5b4c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8a833221-ca27-4684-a9a5-dcfaba8ff9d6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":360,"wires":[["b49e3982.7e9d78"]]},{"id":"b49e3982.7e9d78","type":"function","z":"e6b13807.c5b4c8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["9fca675c.56f8b8","e6072635.786308"]]},{"id":"9fca675c.56f8b8","type":"ui_text","z":"e6b13807.c5b4c8","group":"5309ec16.c65ca4","order":3,"width":0,"height":0,"name":"","label":"Day 2","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":360,"wires":[]},{"id":"4ee4ece6.10f624","type":"function","z":"e6b13807.c5b4c8","name":"Pre Prediction","func":"var d = global.get('d')\nvar d1=d.split(\" \")\n//var d2 = Number(d1[0])+1;\nvar d3 = Number(d1[0])+2;\nvar d2=d3.toString()+d.substring(2,16)\nvar ws = global.get('ws')\nvar wd = global.get('wd')\nvar t = global.get('t')\nvar token=msg.payload.access_token\nvar instance_id=\"37f94100-9725-4e12-bfb0-b271976c93b2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date/Time\",\"Wind_Speed_(m/s)\",\"Theoretical_Power_Curve (KWh)\", \"Wind_Direction_(째)\"], \"values\": [[d3,ws+1,t+100,wd+10]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":480,"wires":[["81264f20.7fcc8"]]},{"id":"81264f20.7fcc8","type":"http request","z":"e6b13807.c5b4c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8a833221-ca27-4684-a9a5-dcfaba8ff9d6/predictions","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":460,"wires":[["c3a35818.ff94d8"]]},{"id":"c3a35818.ff94d8","type":"function","z":"e6b13807.c5b4c8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["8786a96.f241458","bff10e83.a4b54"]]},{"id":"8786a96.f241458","type":"ui_text","z":"e6b13807.c5b4c8","group":"5309ec16.c65ca4","order":4,"width":0,"height":0,"name":"","label":"Day 3","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":460,"wires":[]},{"id":"d2ad05b9.f9eb98","type":"ui_button","z":"e6b13807.c5b4c8","name":"","group":"5309ec16.c65ca4","order":8,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":710,"y":40,"wires":[["65199e75.d919e"]]},{"id":"65199e75.d919e","type":"function","z":"e6b13807.c5b4c8","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":80,"wires":[["e6072635.786308","bff10e83.a4b54","248831ab.37e37e","4ba5c98f.cb6928","9fca675c.56f8b8","8786a96.f241458"]]},{"id":"bff10e83.a4b54","type":"ui_gauge","z":"e6b13807.c5b4c8","name":"","group":"5309ec16.c65ca4","order":6,"width":0,"height":0,"gtype":"gage","title":"Day 3","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":420,"wires":[]},{"id":"e6072635.786308","type":"ui_gauge","z":"e6b13807.c5b4c8","name":"","group":"5309ec16.c65ca4","order":7,"width":0,"height":0,"gtype":"gage","title":"Day 2","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":300,"wires":[]},{"id":"5309ec16.c65ca4","type":"ui_group","z":"","name":"prediction","tab":"19db0559.ad3bfb","order":1,"disp":true,"width":"6","collapse":false},{"id":"19db0559.ad3bfb","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","disabled":false,"hidden":false}]